body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    zoom: 85%;
}

main {
    height: 100vh;
}

canvas {
    display: block;

}