body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
    zoom: 85%;
}

main {
    height: 100vh;
}

canvas {
    display: block;

}

select {
    border: 2px solid #ccc;
    width: 100px;
}

option,
select {
    font-size: 16px;
}

.absolute {
    position: absolute;
    left: 20px;
}

.players {
    top: 0;
}